<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Luna llena Cerámica</title>
	<link rel="shortcut icon" href="../img/favicon.jpg">
	<link rel="stylesheet" href="../css/style.css">
</head>


<body>
	<nav>
		<a href="../index.html">
			<img src="../img/logo.jpg" alt="logo de luna llena cerámica">
		</a>

		<ul>
			<li>
				<a href="productos.html">Productos</a>
			</li>
			<li>
				<a href="cuidados.html">Cuidados</a>
			</li>
			<li>
				<a href="cursos.html">Cursos</a>
			</li>
			<li>
				<a href="nosotros.html">Nosotros</a>
			</li>
			<li>
				<a href="../index.html#contacto">Contacto</a>
			</li>
		</ul>

	</nav>


	<header>
		<h1 class="text-center">PRODUCTOS</h1>
	</header>

	<main>


<section id="main" class="grid grid-distribucion justify-content">
	<figure>
	<img src="../img/cuenco invierno.jpg" class="w-25"alt="Cuenco Invierno">
	<figcaption class="parrafo__tamaño">Cuenco Invierno</figcaption>
	<p>$2580</p>	
	</figure>



	<figure>
	<img src="../img/cuenco koi.jpg" class="w-25" alt="Cuenco Koi">
	<figcaption class="parrafo__tamaño">Cuenco Koi</figcaption>
	<p>$3250</p>	
	</figure>

	<figure>
	<img src="../img/cuenco noche estrellada.jpg" class="w-25" alt="Cuenco Noche Estrellada">
	<figcaption class="parrafo__tamaño">Cuenco Noche Estrellada</figcaption>
	<p>$2700</p>	
	</figure>

	<figure>
	<img src="../img/jarra oceano.jpg" class="w-25" alt="Jarra Oceano">
	<figcaption class="parrafo__tamaño">Jarra Oceano</figcaption>
	<p>$3150</p>	
	</figure>

	<figure>
	<img src="../img/jarra texturada.jpg" class="w-25" alt="Jarra Texturada">
	<figcaption class="parrafo__tamaño">Jarra Texturada</figcaption>
	<p>$3250</p>	
	</figure>

	<figure>
	<img src="../img/maceta bicolor.jpg" class="w-25" alt="Maceta Bicolor">
	<figcaption class="parrafo__tamaño">Maceta Bicolor</figcaption>
	<p>$1000</p>	
	</figure>

	<figure>
	<img src="../img/maceta cuadrille.jpg" class="w-25" alt="Maceta Cuadrille">
	<figcaption class="parrafo__tamaño">Maceta Cuadrille</figcaption>
	<p>$1200</p>	
	</figure>

	<figure>
	<img src="../img/maceta raices.jpg" class="w-25" alt="Maceta Raices">
	<figcaption class="parrafo__tamaño">Maceta Raices</figcaption>
	<p>$1100</p>	
	</figure>

	<figure>
	<img src="../img/taza eclipse.jpg" class="w-25" alt="Taza Eclipse">
	<figcaption class="parrafo__tamaño">Taza Eclipse</figcaption>
	<p>$2200</p>	
	</figure>

	<figure>
	<img src="../img/taza happy.jpg" class="w-25" alt="Taza Happy">
	<figcaption class="parrafo__tamaño">Taza Happy</figcaption>
	<p>$1800</p>	
	</figure>

	<figure>
	<img src="../img/taza minimalista.jpg" class="w-25" alt="Taza Minimalista">
	<figcaption class="parrafo__tamaño">Taza Minimalista</figcaption>
	<p>$2350</p>	
	</figure>

</section>

<br>
<br>
	
	 	<br>
	 	<p>
	 		A continuación, te dejamos un formulario para que elijas tus productos favoritos y puedas comprarlos.
	 	</p>		
	 	<br>
	 	<!--inicia form-->
	 <section id="formulario">
	 	<form action="envio.php" id=contacto>
	 	<fieldset>
	 			<legend>Información personal</legend>
	 			<label for="name">Nombre</label>
	 			<input type="text" id="name" placeholder="maria perez">
	 			<br>
	 			<br>
	 			<label for="email">Email</label>
	 			<input type="text" id="email"  placeholder="mariaperez@gmail.com">
	 			<br>
	 			<br>
	 			<label for="phone">Telefono</label>
	 			<input type="text id="phone" placeholder="1122265874" >
	 	</fieldset>
	 	<fieldset>
	 		<legend>Información del pedido</legend>
	 		<label for="cuenco">Cuenco Invierno</label>
	 		<input type="checkbox" id=cuenco value=cuenco>
	 		<br>
	 		<label for="cuenco">Cuenco Noche estrellada</label>
	 		<input type="checkbox" id=cuenco value=cuenco>
	 		<br>
	 		<label for="cuenco">Cuenco Koi</label>
	 		<input type="checkbox" id=cuenco value=cuenco>
	 		<br>
	 		<label for="jarra">Jarra Texturada</label>
	 		<input type="checkbox" id=jarra value=jarra>
	 		<br><label for="jarra">Jarra Oceano</label>
	 		<input type="checkbox" id=jarra value=jarra>
	 		<br><label for="maceta">Maceta Bicolor</label>
	 		<input type="checkbox" id=maceta value=maceta>
	 		<br><label for="maceta">Maceta Cuadrille</label>
	 		<input type="checkbox" id=maceta value=maceta>
	 		<br><label for="maceta">Maceta Raices</label>
	 		<input type="checkbox" id=maceta value=maceta>
	 		<br><label for="taza">Taza Eclipse</label>
	 		<input type="checkbox" id=taza value=taza>
	 		<br><label for="taza">Taza Happy</label>
	 		<input type="checkbox" id=taza value=taza>
	 		<br>
	 		<label for="taza">Taza Minimalista</label>
	 		<input type="checkbox" id=taza value=taza>
	 	</fieldset>
	 	<fieldset>
	 		<legend>Información de Envío</legend>
	 		<label for="local">Retiro por el local</label>
	 		<input type="radio" id=local name=envio value=local>
	 		<br>
	 		<label for="domicilio">Envío a domicilio</label>
	 		<input type="radio" id=domicilio name=envio value=domicilio>
	 		<br>
	 		<label for="">Localidad</label>
	 		<select name="provinvcia" id="">
	 		 	<option value="caba">CABA</option>
	 			<option value="gba sur">GBA Sur</option>
	 			<option value="gba norte">GBA Norte</option>
	 			<option value="gba oeste">GBA Oeste</option>
	 			<option value="gba este">GBA Este</option>
	 		</select>
	 	</fieldset>
	 			<label for="mensaje">Mensaje</label>
	 			<br>
	 			<textarea name="" id="mensaje" cols="30" rows="10"></textarea>
	 			<br>
	 			<input type="reset" value="Cancelar">
	 			<input type="submit" value="Enviar">

	 	</fieldset>
	 </section>
	 <!--ends form-->
	</main>

	<br>
	<br>


	<footer id="footer">
		<a href="../index.html">
		<img src="../img/logo.jpg" alt="logo de Luna llena Cerámica">
		</a>

		<h3> 
			Seguinos en nustras redes
			
			<a href="https://twitter.com/?lang=es">
				<img src="../img/twitter.png" alt="logo de twitter">
			</a>
			<a href="https://www.instagram.com/">
				<img src="../img/instagram.png" alt="logo de instagram">
			</a>
			<a href="https://es-la.facebook.com/">
				<img src="../img/facebook.png" alt="logo de facebook">
			</a>
		</h3>	
	</footer>

</body>



</html>

